/* ===== ESTILOS BÁSICOS ===== */
:root {
    --Branco: #F5F5F5;
    --Fundo2: #F0F0F0;
    --V1: #D11C20;
    --V2: #AE080B;
    --V3: #920003;
    --V5: #530002;
    --C1: #F7F7F7;
    --C3: #DEDEDE;
    --C5: #B3B3B3;
    --EstrelaHover: #ce1c1f99;
    --Degrade2: linear-gradient(#920003, #530002);
    --roboto: 'Roboto', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--roboto);
    color: #111;
    background-color: var(--Branco);
}

a {
    text-decoration: none;
    color: var(--V1);
}

section {
    scroll-margin-top: 50px;
}

.C1 {
    color: var(--C1);
}

.legenda {
    position: absolute;
    bottom: 2.5%;
    left: 1.8%;
}

.container {
    margin: 0 auto;
    position: relative;
}

/* ===== HEADER E NAV ===== */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    padding: 1rem 2.3rem;
    background: var(--Branco);
    transition: all 300ms ease-in-out;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3);

}

#size {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.logo {
    font-family: var(--montserrat);
    font-weight: bold;
    font-style: italic;
    font-size: 2.3rem;
    color: var(--V1);
}

#navDeBarra {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    gap: 1.5rem;
    font-family: var(--montserrat);
    font-weight: bold;
    font-size: 1rem;
    align-items: center;
}

nav a {
    transition: all 0.5s ease;
}

nav a:hover {
    color: var(--V2);
    transform: translateY(-1px);
    transition: all 0.5s ease;
}

#mobile {
    height: 100%;
    color: var(--V1);
    display: none;
}

#side-menu {
    position: fixed;
    top: 0;
    right: -250px;
    /* Oculto fora da tela */
    width: 250px;
    height: 100vh;
    background: var(--Branco);
    transition: right 0.3s ease-in-out;
    padding-top: 60px;
}

#side-menu ul {
    list-style: none;
    padding: 0;
}

#side-menu li {
    padding: 15px;
    text-align: center;
}

#side-menu a {
    color: #d10000;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
}

#close-menu {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

/* ===== HERO SECTION ===== */
.hero {
    background: url('../images/Fundo.png') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero .legenda {
    color: #404040;
}

.overlay {
    text-align: center;
}

.overlay h1 {
    font-family: var(--montserrat);
    font-size: 9.2rem;
    font-weight: bold;
    font-style: italic;
    letter-spacing: -4px;
}

.overlay p {
    font-family: var(--roboto);
    font-size: 1.2rem;
}

.overlay .mini {
    font-family: var(--roboto);
    font-size: 0.8rem;
    font-weight: 200;
}

/* ===== INTRO ===== */
.intro {
    padding: 6rem 4rem;
    display: flex;
    justify-content: space-between;
}

.intro-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.intro-text h2 {
    font-size: 4rem;
    color: var(--V1);
    margin-bottom: 1rem;
    line-height: 90%;
}

.intro-text h2 span {
    letter-spacing: 4px;
}

.intro-p {
    width: 23.5%;
    font-size: 1.3rem;
    color: var(--V3);
    margin-right: 4rem;
}

/* ===== SERVIÇOS GERAL ===== */
.servicos {
    background: var(--V2);
    padding: 5.5rem 16.5rem;
    color: white;
    position: relative;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 50px;
}

.card {
    background: var(--V2);
    color: var(--Branco);
    border: 1px solid var(--Branco);
    border-radius: 12px;
    flex: 1;
    text-align: center;
    filter: drop-shadow(4px 4px 4px var(--V5));
    height: 200px;
    width: 200px;
    position: relative;
    transition: all 0.4s ease;
}

.card-hover {
    border: 1px solid var(--Branco);
}

.card-not-hover {
    border: 1px solid var(--V5);
}

.card h3 {
    position: absolute;
    top: 15px;
    left: 15px;
    text-align: left;
    line-height: 90%;
    font-size: 1.2rem;
}

.card a {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--V2);
    border: 1px solid var(--Branco);
    color: white;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    font-size: 1.1rem;
    text-align: center;
    white-space: nowrap;
}

.servicos .legenda {
    color: var(--V3);
    bottom: 4%;
    left: 1.5%;
}

/* ===== SERVIÇOS DETALHES ===== */
.detalhes-servico {
    padding: 4rem 4rem;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.detalhes-servico h2 {
    color: var(--V1);
    font-family: var(--montserrat);
    margin-bottom: 2rem;
    font-size: 4rem;
    line-height: 90%;
}

.detalhes-servico h2::after {
    content: '';
    display: block;
    width: 73%;
    height: 3px;
    background: var(--EstrelaHover);
    margin-top: 1rem;
}

.descricao {
    background: var(--V2);
    color: white;
    padding: 2rem;
    margin-right: 3em;
    border-radius: 8px;
    width: 50%;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    border: 1px solid var(--Branco);
    filter: drop-shadow(0px 4px 4px var(--V5));
}

.descricao h3 {
    font-size: 2.5rem;
    line-height: 90%;
}

.descricao p {
    font-size: 1.25rem;
    letter-spacing: 0.5px;
    font-weight: 300;
}

#servico-desc {
    width: 90%;
}

.arrows {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 50px;
}

.arrows-inside {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.arrows-inside span {
    cursor: pointer;
    font-size: 1.8rem;
    transition: all 0.4s ease;
}

.arrows-inside span:hover {
    transform: scale(1.2);
}

.detalhes-servico .legenda {
    color: var(--C3);
}

/* ===== CONTATO ===== */
.contato {
    background: var(--C1) url(../images/Sleek\ Fundo.png);
    padding: 10rem 2rem;
    font-family: var(--roboto);
}

.contato :placeholder-shown {
    font-family: var(--roboto);
}

.form-box {
    display: flex;
    width: 60%;
    margin: 0 auto;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #a30000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.contato-dados {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: var(--Degrade2);
    color: var(--Branco);
    padding: 40px 30px;
    gap: 20px;
}

.contato-dados h2 {
    font-family: var(--montserrat);
    font-size: 2.35rem;
    font-weight: bold;
}

.contato-dados a {
    color: var(--Branco);
}

.dados {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 15px;
}

.icon {
    width: 18px;
    height: 18px;
}

.formulario {
    display: flex;
    flex-direction: column;
    flex: 2;
    background: #f5f5f5;
    padding: 20px;
    gap: 15px;
    position: relative;
}

.ipt {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.ipt label {
    margin-bottom: 5px;
    color: #660000;
    font-weight: 600;
}

.ipt input,
.ipt textarea {
    padding: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.ipt input:focus,
.ipt textarea:focus {
    border-color: var(--V3);
    /* Cor da sua borda ao focar */
    outline-color: var(--V3);
    /* Remove o contorno azul padrão do navegador */
}

.ipt textarea {
    resize: none;
    height: 240px;
}

form button {
    position: absolute;
    top: 87.5%;
    align-self: flex-end;
    background: var(--Degrade2);
    color: white;
    padding: 0.7rem 1.4rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
}

form button:hover {
    background: var(--Degrade2);
}

/* ===== TERMO ===== */
/* .container {
    width: 70%;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 40px;
} */

.hero-termo {
    background: var(--Degrade2);
    width: 100%;
    height: 15.5vw;
    margin-top: 75px;
    padding: 20px 0;
}

.inside-hero {
    width: 70%;
    margin: 0 auto;
}

.hero-termo h1 {
    color: #fff;
    font-size: 4rem;
}

.hero-termo h2 {
    margin-bottom: 0.5rem;
    color: rgba(181, 118, 119, 0.7);
    margin-top: 2rem
}

.unidades {
    margin-bottom: 3rem;
}

.unidades h2 {
    margin-bottom: 0.5rem;
    color: var(--V5);
    margin-top: 2rem
}

.termo section ul {
    padding: 12px 0;
    margin-left: 1rem;
}

.termo ul li {
    padding: 3px 0;
}

#last-sth {
    margin-top: 3rem;
    font-size: 0.9rem;
    color: var(--C5);
    justify-self: flex-end;
}

/* ===== FOOTER ===== */
footer {
    background: var(--Degrade2);
    color: var(--C5);
    padding: 3rem 5rem 0.5rem 5rem;
    font-family: var(--roboto);
    font-size: 1.2rem;
}

.footer-content h1,
.footer-content h2 {
    font-family: var(--montserrat);
    color: var(--Branco);
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10rem;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 150px;
}

.footer-logo h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 2.3rem;
    margin-bottom: 2rem;
}

.footer-bottom {
    font-size: 0.9rem;
    opacity: 0.8;
}

.footer-content h2 {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}

.footer-content p {
    margin: 0.3rem 0;
    opacity: 0.9;
}

.footer-contact,
.footer-info {
    padding-top: 10px;
}

.footer-info a {
    color: inherit;
}

.footer-contact hr {
    display: none;
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

#footer-redes {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
    gap: 1rem;
}

#footer-redes img {
    width: 24px;
    height: 24px;
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        gap: 0.5rem;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.8rem;
        width: 100%;
    }

    nav a {
        font-size: 1rem;
        padding: 0.4rem 0;
    }

    .logo {
        font-size: 2rem;
    }

    #numsei {
        display: none;
    }

    #mobile {
        display: block;
    }

    #bars {
        font-size: 25px;
        cursor: pointer;
    }

    #side-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    /* INTRO */
    .intro-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .divH2 {
        width: 80%;
    }

    .intro-text h2 {
        font-size: 3.2rem;
        margin-bottom: 1rem;
        line-height: 90%;
    }

    .intro-text h2 span {
        letter-spacing: 4px;
    }

    .intro-p {
        margin: 0 auto;
        width: 80%;
        font-size: 1.2rem;
        color: var(--V3);
    }

    /* ===== SERVIÇOS GERAL ===== */
    .servicos {
        padding: 3.5rem 1rem 5.5rem 1rem;
        display: flex;
        justify-content: center;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .card {
        flex: 1;
        text-align: center;
        height: 150px;
        width: 150px;
        position: relative;
    }

    .card h3 {
        position: absolute;
        top: 15px;
        left: 15px;
        text-align: left;
        line-height: 90%;
        font-size: 1.2rem;
    }

    .card a {
        padding: 0.5rem 0.8rem;
        font-size: 1rem;
    }

    /* SERVIÇOS DETALHES */
    .detalhes-servico {
        padding: 3.5rem 1rem 5.5rem 1rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .detalhes-servico h2 {
        font-size: 3.2rem;
    }

    .descricao {
        padding: 2rem;
        margin: 0 auto;
        border-radius: 8px;
        width: 90%;
        height: 480px;
        gap: 2rem;
    }

    .descricao h3 {
        font-size: 2.5rem;
        line-height: 90%;
    }

    .descricao p {
        font-size: 1.2rem;
        letter-spacing: 0.5px;
        font-weight: 300;
    }

    #servico-desc {
        width: 100%;
    }

    .arrows {
        top: 89.2%;
    }

    .arrows-inside span {
        cursor: pointer;
        font-size: 1.7rem;
        transition: all 0.4s ease;
    }

    /* CONTATO */
    .contato {
        padding: 3.5rem 1rem 5.5rem 1rem;
    }

    .form-box {
        width: 90%;
        flex-direction: column;
    }

    .contato-dados {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 20px 30px;
        gap: 10px;
    }

    .contato-dados h2 {
        font-size: 2rem;
        font-weight: bold;
    }

    .dados {
        display: flex;
        flex-direction: row;
    }

    .icon {
        width: 18px;
        height: 18px;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        flex: 2;
        padding: 30px 20px;
        gap: 15px;
        position: relative;
    }

    .ipt {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .ipt label {
        margin-bottom: 5px;
        font-weight: 600;
    }

    .ipt input,
    .ipt textarea {
        padding: 14px;
        border-radius: 4px;
        font-size: 14px;
    }

    .ipt textarea {
        height: 140px;
    }

    form button {
        position: static;
        top: auto;
        align-self: center;
        padding: 0.8rem 1.4rem;
    }

    /* ===== FOOTER ===== */
    footer {
        padding: 3.5rem 1rem 5.5rem 1rem;
        font-size: 1.2rem;
        border: 1px solid blue;
    }

    .footer-content {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
        position: relative;
    }

    .footer-content div:not(:first-child) {
        justify-content: flex-start;
    }

    .footer-logo,
    .footer-contact,
    .footer-info {
        width: 80%;
    }

    .footer-logo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        justify-self: center;
        gap: 0;
    }

    .footer-logo h1 {
        font-size: 2.8rem;
        margin-bottom: 0;
    }

    .footer-bottom {
        position: absolute;
        top: 100%;
        left: 0;
        text-align: center;
        width: 100%;
    }

    .footer-bottom::before {
        content: '';
        width: 73%;
        height: 0.5px;
        display: block;
        background-color: rgba(255, 255, 255, 0.2);
        margin-top: 1rem;
        margin-bottom: 0.2rem;
        align-self: center;
        place-self: center center;
    }

    .footer-content h2 {
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 1rem;
        letter-spacing: 1px;
    }

    .footer-content p {
        margin: 0.3rem 0;
        opacity: 0.9;
    }

    .footer-contact,
    .footer-info {
        padding-top: 10px;
    }

    .footer-info a {
        color: inherit;
    }

    .footer-contact hr {
        margin: 1rem 0;
        border: none;
        height: 1px;
    }

    #footer-redes {
        display: flex;
        flex-direction: row;
        padding-left: 2px;
        gap: 1rem;
    }

    #footer-redes img {
        width: 24px;
        height: 24px;
    }


}

@media (max-width: 400px) {

    /* Ajustar tamanho do logo e espaçamento */
    .logo {
        font-size: 1.8rem;
    }

    /* HEADER NAV LATERAL */
    nav a {
        font-size: 0.9rem;
    }

    /* HERO SECTION */
    .overlay h1 {
        font-size: 4.2rem;
        letter-spacing: -2px;
    }

    .overlay p {
        font-size: 1rem;
    }

    .overlay .mini {
        font-size: 0.7rem;
    }

    .hero .legenda p {
        font-size: 0.8rem;
        text-align: left;
    }

    /* INTRO */
    .intro {
        padding: 4rem 1rem;
        flex-direction: column;
        gap: 2rem;
    }

    .intro-text h2 {
        font-size: 2.4rem;
        text-align: center;
    }

    .intro-p {
        font-size: 1.05rem;
        width: 100%;
        margin: 0 auto;
    }

    /* SERVIÇOS */
    .card-container {
        grid-template-columns: 1fr;
    }

    .card {
        width: 100%;
        height: auto;
        padding: 2rem 1rem;
    }

    .card h3 {
        font-size: 1.3rem;
        position: static;
        text-align: center;
        margin-bottom: 1rem;
    }

    .card a {
        position: static;
        transform: none;
    }

    /* DETALHES */
    .descricao {
        width: 100%;
        height: auto;
        padding: 1.5rem;
    }

    .descricao h3 {
        font-size: 1.6rem;
    }

    .descricao p {
        font-size: 1rem;
    }

    .arrows {
        display: none;
    }

    /* CONTATO */
    .form-box {
        width: 100%;
        margin: 0 auto;
    }

    .formulario {
        padding: 1rem;
    }

    form button {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
    }

    /* FOOTER */
    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .footer-logo h1 {
        font-size: 2rem;
    }

    .footer-bottom {
        position: static;
        margin-top: 1rem;
    }

    .footer-contact,
    .footer-info {
        width: 100%;
        text-align: center;
    }

    #footer-redes {
        justify-content: center;
    }
}